<!DOCTYPE html>
<html>
    <head>
        <title>Immobilier</title>
        <link rel="stylesheet" href="/semantic/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <!--<link rel="stylesheet" href="../../assets/css/style.css">-->
    </head>
    <body>

<div class="main-header">
    <div class="logo"><a href="/">Immobilier</a></div>
    <div class="navbar">
        <a href="/">Accueil</a>
        <a href="/">Toutes les annonces</a>
        <a href="/ajouter">Vendez votre bien</a>
        <a href="/contact">Contact</a>
    </div>
</div> 


<style>
body{
    background: #fff;
}
.container {
  max-width: 1280px;
  width: 90%;
  margin: auto;
  margin-top:40px;
  margin-bottom:90px;
}

.main-header{
    height:80px;
    box-shadow: 0px 1px 0px #dee2e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.main-footer{
    height:80px;
    box-shadow: 0px -1px 0px #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    color:#cfcfcf;
}
.navbar a{
    margin-left: 20px;
    text-decoration: none;
    color: #111;
}
.navbar a:hover{
    transition: .4s all;
    color: #999;
}
.logo a{
    color: #111;
}

table{
    border-spacing: 0px;
    width: 100%;
    margin-top: 30px;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid #dee2e6;
}
.table tr.ppp{
    transition: 0.4s all;
}
.table tr.ppp:hover{
    transform: scale(1.005);
}

.table td.act{
    display: flex;
    justify-content: space-evenly;
}

/* FORM */
.form-title{
    margin-top: 30px;
}
.text-center{
    text-align: center;
}
.addannonce{
    max-width: 800px;
    margin: auto;
    margin-top:60px;
}
.addannonce .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid #dee2e6;
    font-size: 1em;
    border-radius: .2em;
}
.addannonce .btn{
    margin-top: 20px;
}
.customid{
    font-size: 8px;
    vertical-align: middle!important;
}
</style>